
server:
  port: 8001

spring:
  application:
    name: Spring-Batch-Project
  datasource:
    url: jdbc:mysql://localhost:3306/batch
    username: {  }
    password: {  }
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    spring.jpa.database-platform: org.hibernate.dialect.MySQL8Dialect
    show_sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false

logging:
  file:
    name: ./spring-batch.log